{% extends "layout.html" %}

{% block body %}

    <section id="page-header" class="about-header">
        <h2>#KnowUs</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing.</p>
    </section>

    <section id="about-head" class="section-p1">
        <img src="images/about/a6.jpg" alt="">
        <div>
            <h2>Who We Are?</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam quas aperiam sint explicabo aut debitis similique accusamus voluptates. Tenetur repellendus maiores modi iure neque. Vel adipisci dolore doloribus, numquam tempore explicabo! Earum tenetur veritatis consequatur numquam cupiditate ea dignissimos asperiores iure, placeat aspernatur voluptas quis nesciunt quasi temporibus? Voluptates, libero.</p>
            <abbr title="">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi delectus aliquid, iusto perspiciatis cumque nostrum.</abbr>
            <br><br>
            <marquee bgcolor="#ccc" loop="-1" scrollamount="5" width="100%">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illo commodi facere impedit ea, recusandae facilis repellat deserunt ipsa qui tempora.</marquee>
        </div>
    </section>

    <section id="feature" class="section-p1">
        <div class="fe-box">
            <img src="images/features/f1.png">
            <h6>Free Shipping</h6>
        </div>

        <div class="fe-box">
            <img src="images/features/f2.png">
            <h6>Online Order</h6>
        </div>

        <div class="fe-box">
            <img src="images/features/f3.png">
            <h6>Save Money</h6>
        </div>

        <div class="fe-box">
            <img src="images/features/f4.png">
            <h6>Promotions</h6>
        </div>

        <div class="fe-box">
            <img src="images/features/f5.png">
            <h6>Happy Sell</h6>
        </div>

        <div class="fe-box">
            <img src="images/features/f6.png">
            <h6>F24/7 Support</h6>
        </div>
    </section>

    <section id="newsletter" class="section-p1 section-m1">
        <div class="newstext">
            <h4>Sign Up For Newsletters</h4>
            <p>Get E-mail updates about our latest shop and <span>special offers</span>.</p>
        </div>
        <div class="form">
            <input type="text" name="" id="" placeholder="Your email address">
            <button class="normal-btn">Sign Up</button>
        </div>
    </section>

    {% endblock %}