{% extends "layout.html" %}

{% block body %}

    <section id="page-header" class="about-header">
        <h2>#let's_talk</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing.</p>
    </section>

    <section id="contact-details" class="section-p1">
        <div class="details">
            <span>GET IN TOUCH</span>
            <h2>Visit one of our agency locations or contact us today</h2>
            <h3>Head Office</h3>
            <div>
                <li>
                    <i class="lni lni-map"></i>
                    <p>01 Durgapur, Durgapur-1, Paschim Bardhaman, West Bengal</p>
                </li>
                <li>
                    <i class="lni lni-envelope"></i>
                    <p>abc@example.com</p>
                </li>
                <li>
                    <i class="lni lni-phone"></i>
                    <p>+91 1236589645</p>
                </li>
                <li>
                    <i class="lni lni-alarm-clock"></i>
                    <p>Monday to Friday: 10.30am to 16.00pm</p>
                </li>
            </div>
        </div>
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13805.323433168713!2d87.29327317038883!3d23.476433091246356!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39f7715fc9419e5d%3A0x39e4af3b998f46a2!2sDurgapur%20Barrage!5e1!3m2!1sen!2sin!4v1661564617475!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </section>

    <section id="form-details">
        <form action="contact.html" method="post">
            <span>LEAVE A MESSAGE</span>
            <h2>We love to hear from you</h2>
            <input type="text" name="name" placeholder="Your Name" required>
            <input type="text" name="email" placeholder="Email" required>
            <input type="text" name="subject" placeholder="Subject" required>
            <textarea name="message" placeholder="Your Message" cols="30" rows="10" required></textarea>
            <button type="submit" class="normal-btn">SUBMIT</button>
        </form>
        <div class="people">
            <div>
                <img src="images/people/1.png" alt="">
                <p><span>John Deo</span> Senior Marketing Manager <br> Phone: +91 784 786 8912 <br> Email: abc@example.com</p>
            </div>
            <div>
                <img src="images/people/2.png" alt="">
                <p><span>William Smith</span> Senior Marketing Manager <br> Phone: +91 784 786 8912 <br> Email: abc@example.com</p>
            </div>
            <div>
                <img src="images/people/3.png" alt="">
                <p><span>Emma Stone</span> Senior Marketing Manager <br> Phone: +91 784 786 8912 <br> Email: abc@example.com</p>
            </div>
        </div>
    </section>

    <section id="newsletter" class="section-p1 section-m1">
        <div class="newstext">
            <h4>Sign Up For Newsletters</h4>
            <p>Get E-mail updates about our latest shop and <span>special offers</span>.</p>
        </div>
        <div class="form">
            <input type="text" name="" id="" placeholder="Your email address">
            <button class="normal-btn">Sign Up</button>
        </div>
    </section>

    {% endblock %}