{% extends "layout.html" %}

{% block body %}

    <section id="pro-details" class="section-p1">
        <div class="single-pro-image">
            <img src="{{ url_for('static', filename= images['main'])}}" id="MainImg" width="100%" alt="">
            <div class="small-img-group">
                <div class="small-img-col">
                    <img src="{{ url_for('static', filename= images['main'])}}" class="small-img" width="100%" alt="">
                </div>
                <div class="small-img-col">
                    <img src="{{ url_for('static', filename= images['1'])}}" class="small-img" width="100%" alt="">
                </div>
                <div class="small-img-col">
                    <img src="{{ url_for('static', filename= images['2'])}}" class="small-img" width="100%" alt="">
                </div>
                <div class="small-img-col">
                    <img src="{{ url_for('static', filename= images['3'])}}" class="small-img" width="100%" alt="">
                </div>
            </div>
        </div>
        
            <form action="/cart" method="post" class="single-pro-details">
                <h6>Home / {{ product.category }}</h6>
                <h4>{{ product.product_title }}</h4>
                <h2>&#x20B9;{{ product.price }}</h2>
                <select name="size">
                    <option>Select Size</option>
                    {% for size in sizes %}
                    <option value="{{ size }}">{{ size }}</option>
                    {% endfor %}
                </select>
                <span style="color:red">{{ product.stock }} items available</span><br>
                <input type="number" value="1" name="quantity"> 
                <input type="hidden" value="{{ product.product_key }}" name="product_url">
                <button type="submit" class="normal">Add To Cart</button>
                <h4>Product Details</h4>
                <span>{{ product.details }}</span>
            </form>
        
    </section>

    <section id="product1" class="section-p1">
        <h2>Featured Products</h2>
        <p>Summer Collection New Morden Design</p>
        <div class="pro-container">
            <div class="pro">
                <img src="images/products/n1.jpg" alt="">
                <div class="des">
                    <span>adidas</span>
                    <h5>Cartoon Astronaut T-Shirt</h5>
                    <div class="star">
                        <i class="lni lni-star-filled"></i>
                        <i class="lni lni-star-filled"></i>
                        <i class="lni lni-star-filled"></i>
                        <i class="lni lni-star"></i>
                        <i class="lni lni-star"></i>
                    </div>
                    <h4>$78</h4>
                </div>
                <a href="#"><i class="lni lni-cart cart"></i></a>
            </div>

            <div class="pro">
                <img src="images/products/n2.jpg" alt="">
                <div class="des">
                    <span>adidas</span>
                    <h5>Cartoon Astronaut T-Shirt</h5>
                    <div class="star">
                        <i class="lni lni-star-filled"></i>
                        <i class="lni lni-star-filled"></i>
                        <i class="lni lni-star-filled"></i>
                        <i class="lni lni-star"></i>
                        <i class="lni lni-star"></i>
                    </div>
                    <h4>$78</h4>
                </div>
                <a href="#"><i class="lni lni-cart cart"></i></a>
            </div>

            <div class="pro">
                <img src="images/products/n3.jpg" alt="">
                <div class="des">
                    <span>adidas</span>
                    <h5>Cartoon Astronaut T-Shirt</h5>
                    <div class="star">
                        <i class="lni lni-star-filled"></i>
                        <i class="lni lni-star-filled"></i>
                        <i class="lni lni-star-filled"></i>
                        <i class="lni lni-star"></i>
                        <i class="lni lni-star"></i>
                    </div>
                    <h4>$78</h4>
                </div>
                <a href="#"><i class="lni lni-cart cart"></i></a>
            </div>

            <div class="pro">
                <img src="images/products/n4.jpg" alt="">
                <div class="des">
                    <span>adidas</span>
                    <h5>Cartoon Astronaut T-Shirt</h5>
                    <div class="star">
                        <i class="lni lni-star-filled"></i>
                        <i class="lni lni-star-filled"></i>
                        <i class="lni lni-star-filled"></i>
                        <i class="lni lni-star"></i>
                        <i class="lni lni-star"></i>
                    </div>
                    <h4>$78</h4>
                </div>
                <a href="#"><i class="lni lni-cart cart"></i></a>
            </div>
        </div>
    </section>

    <section id="newsletter" class="section-p1 section-m1">
        <div class="newstext">
            <h4>Sign Up For Newsletters</h4>
            <p>Get E-mail updates about our latest shop and <span>special offers</span>.</p>
        </div>
        <div class="form">
            <input type="text" name="" id="" placeholder="Your email address">
            <button class="normal">Sign Up</button>
        </div>
    </section>

    {% endblock %}