{% extends "layout.html" %}

{% block body %}

    <section id="page-header" class="about-header">
        <h2>#cart</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing.</p>
    </section>

    <section id="cart" class="section-p1">
        <table width="100%">
            <thead>
                <tr>
                    <td>Remove</td>
                    <td>Image</td>
                    <td>Product</td>
                    <td>Price</td>
                    <td>Quantity</td>
                    <td>Size</td>
                    <td>Subtotal</td>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr>
                    <td>
                        <form action="/cart/remove" method="post">
                            <input type="hidden" value="{{ item.product_key }}" name="item_url">
                            <button type="submit" style="background: transparent; outline:none; border:none; cursor:pointer"><i class="lni lni-cross-circle"></i></button>
                        </form>
                    </td>
                    <!-- <td><a href="/cart/remove/{{ item.product_key }}"><i class="lni lni-cross-circle"></i></a></td> -->
                    <td><img src="{{ url_for('static', filename= item.image)}}"></td>
                    <td>{{ item.product_title }}</td>
                    <td>&#x20B9; {{ item.price }}</td>
                    <td><input type="number" value="{{ item.quantity }}"></td>
                    <td>{{ item.size }}</td>
                    <td>&#x20B9; {{ item.subtotal }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>

    <section id="cart-add" class="section-p1">
        <div id="coupon">
            <h3>Apply Coupon</h3>
            <div>
                <input type="text" placeholder="Enter Your Coupon">
                <button class="normal-btn">Apply</button>
            </div>
        </div>
        <div id="subtotal">
            <h3>Cart Total</h3>
            <table>
                <tr>
                    <td>Cart Subtotal</td>
                    <td>&#x20B9; {{ subTotal }}</td>
                </tr>
                <tr>
                    <td>Shipping</td>
                    <td>Free</td>
                </tr>
                <tr>
                    <td>Discount</td>
                    <td>-&#x20B9; 0</td>
                </tr>
                <tr>
                    <td><strong>Total</strong></td>
                    <td><strong>&#x20B9; {{ subTotal }}</strong></td>
                </tr>
            </table>
            <button class="normal-btn">Proceed to Checkout</button>
        </div>
    </section>

    {% endblock %}